body{
    background-color: black;
    color: white;
}

.Home {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.Home-Heading {
  color: yellow;
  font-size: clamp(4rem, 8vw, 9rem);
  font-weight: 900;
  margin: 0;
  padding: 0;

  transform: scale(10);
  opacity: 0;
  animation: zoomOutToCenter 1.2s ease-out forwards;
}

@keyframes zoomOutToCenter {
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.Home-Para {
  margin-top: 1rem;
  font-size: clamp(1rem, 2vw, 1.5rem);
  color: #cccccc;
  margin-top: 10px;


  opacity: 0;
  transform: translateY(20px);

  animation: fadeUp 0.6s ease-out forwards;
  animation-delay: 1.3s; 
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


