body{
    background-color: black;
    color: white;
    margin: 0px;
    overflow-x: hidden;
}
.Heading{
    color: yellow;
    margin: 30px;
}
.Content{
    margin: 35px;
    max-width: 1200px;
    font-size: 19px;
    line-height: 1.5;
}

.Home {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Home-Heading {
  color: yellow;
  font-size: clamp(4rem, 8vw, 9rem);
  font-weight: 900;
  margin: 0;
  padding: 0;

  transform: scale(10);
  opacity: 0;
  animation: zoomOutToCenter 1.2s ease-out forwards;
}

@keyframes zoomOutToCenter {
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.Home-Para {
  margin-top: 1rem;
  font-size: clamp(1rem, 2vw, 1.5rem);
  color: #cccccc;
  margin-top: 10px;


  opacity: 0;
  transform: translateY(20px);

  animation: fadeUp 0.6s ease-out forwards;
  animation-delay: 1.3s; 
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.Why{
    min-height: 100vh;
    width: 100%;
}

.Mission {
  opacity: 0;
  transform: translateX(-80px);

  animation: slideInLeft linear forwards;
  animation-timeline: view();
  animation-range: entry 20% cover 40%;
}

.WhyNxtBite {
  margin-top: 100px;  
  opacity: 0;
  transform: translateX(80px);

  animation: slideInRight linear forwards;
  animation-timeline: view();
  animation-range: entry 20% cover 40%;
}


@keyframes slideInLeft {
  from { transform: translateX(-80px); opacity: 0; }
  to   { transform: translateX(0); opacity: 1; }
}

@keyframes slideInRight {
  from { transform: translateX(80px); opacity: 0; }
  to   { transform: translateX(0); opacity: 1; }
}